@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
}

body {
    font-family: 'Satoshi', sans-serif;
}

.site-footer {
    background: #2c3e50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3498db, #2c3e50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3498db, #2c3e50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.CodeMirror {
    height: 340px !important;
    color: #fff;
}

.CodeMirror-gutters {
    background: #1d1e22 !important;
}

.CodeMirror-scroll {
    background: #1d1e22;
}